body{
  background-color: white;
}

h1{
  background-color: #b3e6ff;
  font-size: 30px;
  color: pink;
  font-weight: bold;
}
p1{
  background-color: #b3e6ff;
  font-size:15px;
  color: black;
  font-weight: bold;
}
