body{
  background-color: white;
}

h1{
  background-color: aliceblue;
  margin: 0 auto;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
h2{
  background-color: aliceblue;
  font-size: 30px;
  color: black;
  font-weight: bold;
} 
p1{
  background-color: white;
  font-size:15px;
  color: pink;
  font-weight: bold;
}
